body {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  height: 1000px;
  background-color: #bfd8d1;
}

p {
  margin: 0px;
}

#container-0 {
  height: 1000px;
}

#header-Name {
display: grid;

grid-template-columns: auto auto auto 70%;
grid-template-rows: 7vh;

grid-template-areas:
"home name dashboard .";
display: flex;
justify-content: center;
background-color: #ee8080;
text-decoration: none;
margin-bottom: 2%;

}

#header-Name div {
  margin: 0px 2% 0px 2%;
}

#header-Name a {
  text-decoration: none;
  font-family: Shrikhand;
  color: black;
  font-size: 120%;
}

#header-MyName {
  font-size: 160%;
}

#profile-Cont {
  display: block;;
  height: 10%;
  width: 10%;
}


#header-MyName {
  grid-area: name;
}

#myName a:hover #profile-Cont{
display: block;
}

#header-Home {
  grid-area: home;
}

#header-Dashboard {
  grid-area: dashboard;
}

/*-------HEADER ENDS HERE--------*/

#main {
  width: 85%;
  height: 100%;
  margin: auto;
  display: grid;
  background-color: #bfd8d1;

  grid-template-columns: repeat(6, 16.66%);
  grid-template-rows: repeat(5, 22%);

  grid-template-areas:
  "greeting greeting greeting calendar calendar calendar"
  ". . . calendar calendar calendar"
  ". . . . . ."
  ". . . . . .";
}

#greeting {
  grid-area: greeting;
  background-color: #178a94;
  margin-top: 0px;
  border-radius: 3%;
  padding: 4%;
  margin-right: 2%;
}

#greeting p {
  font-family: Merriweather;
  font-size: 15px;
}

#calendar {
  grid-area: calendar;
  display: flex;
  flex-direction: column;
  border: solid 2px black;
  overflow: hidden;
}

#calendar-May {
  font-size: 4vw;
  align-self: center;
  margin-bottom: 1%;

}

#calendar-May p {
  font-family: Merriweather;

}

#calendar-Days {
display: grid;
grid-gap: 5px;
grid-template-rows: repeat(5, 50%);
grid-template-columns: repeat(7, 14%);
grid-auto-flow: row;
padding: 0px 4% 4% 4%;
font-family: Merriweather;

}

.day {
  border: solid 1px black;
  padding-left: 3%;
}

.day-Grey {
  border: solid 1px black;
}
