body {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  height: 1000px;
}

p {
  margin: 0px;
}

#header-Name {
display: grid;

grid-template-columns: auto auto auto 70%;
grid-template-rows: 7vh;

grid-template-areas:
"name home dashboard .";

background-color: #ffc0cb;
text-decoration: none;
margin-bottom: 2%;

}

#header-Name a {
  text-decoration: none;
  font-family: Shrikhand;
  color: black;
}

#header-MyName {
  grid-area: name;

}

#header-Home {
  grid-area: home;
}

#header-Dashboard {
  grid-area: dashboard;
}

/*-------HEADER ENDS HERE--------*/

#main {
  width: 85%;
  height: 100vh;
  margin: auto;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20% 20% 20% 20% 20%;

  grid-template-areas:
  "greeting greeting . calendar calendar calendar"
  "greeting greeting . calendar calendar calendar"
  ". . . calendar calendar calendar"
  ". . . calendar calendar calendar";
}

#greeting {
  grid-area: greeting;
  background-color: green;
  margin-top: 0px;
}

#calendar {
  grid-area: calendar;
  border: 2px solid black;
  display: flex;
  flex-direction: column;

}

#calendar-TimeDate p {
  font-family: arial;
  font-size: 2.5vw;
  text-align: center;
  margin-top: 2%;
  height: 20%;
}

#calendar-Days {
  display: grid;

  height: 80%;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  grid-template-areas:

  "day . . . . . .";


  /* grid-template-areas:
  "row1"
  "row2"
  "row3"
  "row4"
  "row5"; */
}

#day1 {
  grid-area: day;
  border: 1px solid black;
}

/* #row-1 {
  grid-area: row1;
  border: 1px solid black;
}

#row-2 {
  grid-area: row2;
  border: 1px solid black;
}

#row-3 {
  grid-area: row3;
  border: 1px solid black;
}

#row-4 {
  grid-area: row4;
  border: 1px solid black;
}

#row-5 {
  grid-area: row5;
  border: 1px solid black;
} */
